.vscode
*.pyc
*.pt
*.safetensors
finetuning/try_lora/fine_tuned_models/*
modelweights/*
flash_attn-2.7.4.post1+cu12torch2.6cxx11abiFALSE-cp311-cp311-linux_x86_64.whl
experiments/unsloth_compiled_cache/
finetuning/try_lora/unsloth_compiled_cache/
model/
*.gguf
*/unsloth_compiled_cache/
/unsloth_compiled_cache/