absl-py
accelerate
aiohappyeyeballs
aiohttp
aiosignal
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
attrs
babel
beautifulsoup4
bitsandbytes
bleach
blinker
certifi
cffi
charset-normalizer
click
comm
contourpy
cut-cross-entropy
cycler
datasets
debugpy
decorator
defusedxml
diffusers
dill
distro
docstring_parser
einops
et_xmlfile
executing
fastjsonschema
filelock
flash_attn
Flask
Flask-Cors
fonttools
fqdn
frozenlist
fsspec
gevent
greenlet
grpcio
gunicorn
h11
hf_transfer
httpcore
httpx
huggingface-hub
idna
importlib_metadata
ipykernel
ipython
ipywidgets
isoduration
itsdangerous
jedi
Jinja2
joblib
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
kiwisolver
llvmlite
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mistune
mpmath
multidict
multiprocess
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook
notebook_shim
numba
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-cusparselt-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
opencv-python
openpyxl
overrides
packaging
pandas
pandocfilters
parso
peft
pexpect
pillow
platformdirs
prometheus_client
prompt_toolkit
propcache
protobuf
psutil
psycopg2-binary
ptyprocess
pure_eval
pyarrow
pycparser
Pygments
pyparsing
python-dateutil
python-json-logger
pytz
PyYAML
pyzmq
referencing
regex
requests
rfc3339-validator
rfc3986-validator
rich
rpds-py
safetensors
scikit-build
scikit-learn
scikit-learn-extra
scipy
Send2Trash
sentencepiece
shtab
six
sniffio
soupsieve
sqlparse
stack-data
sympy
tensorboard
tensorboard-data-server
terminado
threadpoolctl
tinycss2
tokenizers
torch
torchvision
tornado
tqdm
traitlets
transformers
triton
trl
typeguard
types-python-dateutil
typing_extensions
tyro
tzdata
unsloth
unsloth_zoo
uri-template
urllib3
wcwidth
webcolors
webencodings
websocket-client
Werkzeug
widgetsnbextension
xformers
xxhash
yarl
zipp
zope.event
zope.interface
flash_attn
pynvml
plotly